@media (min-width: 830px){
    /* CABEÇALHO */
    .cabecalho__pesquisar__item{
        display: block;
    }

    /* RODAPE */

    .rodape__container{
        justify-content: space-between;
    }

    .menu__container{
        top: 80px;        
        width: auto;
        height: 100%;
    }

    .menu__lista{
        justify-content:flex-start;
        flex-direction: column;
        gap: 40px;
    }
}